*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    padding: 0  2%;
    
}

.logo img{
    width: 40%;
    cursor: pointer;
    border-radius: 50%;

}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav nav ul{
    display: flex;
    padding: 12px;
    list-style: none;

}

.nav ul li a {
    padding: 10px 16px;
    margin-left: 15px;
    font-size: 1.2vw;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-2px);
}

 h4{
    color: #00f0ff;
    background-color: black;
  display: inline-block; /* ou inline-block */
  padding: 10px; /* opcional, pra dar um espacinho */
  border-radius: 4px; /* opcional, pra arredondar */
  

}
 .p0{
  display: inline; 
  border-radius: 4px;
  color: #00f0ff;
  font-size: 1vw;
  background-color: black;
  padding: 2px;
  line-height: 30px;
  
  
}

.container{
    width: 100%;
    height: 500px;
    padding: 30px 2%;
}



.btn{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 1.1vw;
    display: block;
    margin: 100px auto;
    padding: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.btn:hover{
    background-color: #007bff;
    transform: translateY(-2px);
    border: 1px solid black;
}

.container h3{
    text-transform: uppercase;
    color: #999;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: #00f0ff;
    display: inline-block; /* ou inline-block */
}

#p1{
    background-color: white;
    line-height: 35px;
    font-size: 1vw;
    color: black;

}

.img1{
    background-image: url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.container2{
    width: 100%;
    height: auto;
    padding: 60px 2%;
}

.container2 ul {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: center;
    list-style: none; /* remove as bolinhas padrão */
    padding: 0;
}

.container2 ul li {
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 8px;
    font-size: 1vw;
}

/* cria a bolinha colorida */
.container2 ul li::before {
    content: "•"; /* símbolo da bolinha */
    color: #00f0ff; /* cor personalizada */
    font-size: 1.2vw;
    margin-right: 10px;
    line-height: 2;
}


.redes{
    text-align: center;
    padding-top: 40px;
}

.redes h2{
    text-transform: uppercase;
    color: #999;
}

.redes a img{
    width: 20%;
    padding-top: 50px;
}



.localiza {
    padding: 40px 2%;
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    justify-content: space-between; /* espaçamento entre os blocos */
    gap: 20px; /* espaçamento entre colunas e linhas */
}

.localiza .local {
    flex: 1 1 calc(50% - 20px); /* 2 blocos por linha, com espaçamento */
    box-sizing: border-box;
    background: #f9f9f9; /* opcional: só pra visualizar melhor */
    padding: 15px;
    border-radius: 6px;
}


.col-md-6 h2{
    text-transform: uppercase;
    color: #999;
    text-align: center;
}


/*PÁGINA PLANOS */
.img2{
    background-image: url(../images/teste1.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pesquisa{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

 .search-container {
    position: relative;
    width: 500px; /* largura da caixa */
  }

  .search-container input[type="search"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* espaço à direita para a lupa */
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .search-container button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
  }

  .search-container button:hover {
    color: #000;
  }


.container3{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 2%;
    
}


.box{
    width: 30%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 25px 2%;
    margin: 2%;
}

.box img{
    width: 100%;
    height: auto;
}

.box h5{
    text-align: center;
    padding: 25px 0;
    font-size: 1.1vw;
}

.box > p{
   font-size: 1vw; 
   
}

.box button {
    background-color: #00f0ff; /* cor de fundo */
    color: #000; /* cor do texto */
    border: none; /* remove a borda padrão */
    padding: 10px 20px; /* espaço interno */
    border-radius: 25px; /* cantos arredondados */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* transição suave para hover */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra leve */
}

.box button:hover {
    background-color: #00f0ff; /* muda a cor ao passar o mouse */
    transform: translateY(-3px); /* efeito de leve “elevação” */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* aumenta a sombra */
}


/***/

/*PÁGINA PERSONAL*/

.banner{
    width: 100%;
    height: 450px;
    background-image: url(../images/treinadorbanner.jpg);
    background-position: center;
    background-size: cover;
    margin: 45px 0;
    
}

.container3 ul {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: center;
    list-style: none; /* remove as bolinhas padrão */
    padding: 0;
}

.container3 ul li {
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 8px;
    font-size: 1vw;
}

/* cria a bolinha colorida */
.container3 ul li::before {
    content: "•"; /* símbolo da bolinha */
    color: #00f0ff; /* cor personalizada */
    font-size: 1.2vw;
    margin-right: 10px;
    line-height: 2;
}

.h5{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 45px 2%;
}

.h5 h5{
    padding-bottom: 35px;
    font-size: 1.2vw;
    text-align: center;
    max-width: 980px;
    line-height: 38px;
    font-weight: 500;
}

.banner2{
    width: 100%;
    height: 500px;
    background-image: url(../images/2esteira.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 45px; 
    margin-bottom: -50px;
    
}

.banner3{
    width: 100%;
    height: 400px;
    background-image: url(../images/Captura\ de\ tela\ 2025-11-01\ 084412.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 45px; 
    
}




.banner3{
    width: 100%;
    height: 450px;
    background-image: url(../images/Captura\ de\ tela\ 2025-11-01\ 084412.png);
    background-position: center;
    background-size: cover;
    margin: 45px 0;
    
}


.form {
  width: 100%;
  max-width: 900px;
  margin: 60px auto;
  text-align: center;
  color: #333;
  
}

.form h1 {
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
}

.form h6 {
  color: #777;
  font-size: 1vw;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input,
.form-row select,
.form textarea {
  width: 100%;
  padding: 12px;
  background: #ccc;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  outline: none;
}

.form textarea {
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 25px;
  margin-top: 20px;
}

.check-area {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 20px;
}

.check-column {
  width: 47%;
}

.check-item {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre o checkbox e o texto */
  margin: 6px 0;
}

.check-item input[type="checkbox"] {
  accent-color: #00f0ff; /* deixa o check na cor do botão */
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.check-item label {
  cursor: pointer;
  font-size: 0.95rem;
  color: #444;
}



.btn-cadastro {
  background-color: #00f0ff;
  color: black;
  font-weight: bold;
  padding: 12px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cadastro:hover {
    background-color: #00f0ff;
    transform: translateY(-3px); /* efeito de leve “elevação” */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra leve */
    cursor: pointer;
}

/*PÁGINA PILATES*/
.container4{
    width: 100%;
    height: auto;
   
}

.container4 .banner4{
    width: 100%;
    height: 450px;
    background-image: url(../images/pilatesmarcos.webp);
    background-position: center;
    background-size: cover;
    margin-bottom: 45px;

    
}

.container4 h1{
    text-align: center;
    padding: 10px 0;
    color: #ccc;
}

.container4 p{
    text-align: center;
    font-size: 1vw;
    padding-bottom: 25px;
}

.container4 .p2{
     text-align: center;
    font-size: 1vw;
    padding-bottom: 25px;
    text-transform: uppercase;

}



.container4 .banner5{
    width: 100%;
    height: 605px;
    background-image: url(../images/Captura\ de\ tela\ 2025-10-25\ 094846.png);
    background-position: center;
    background-size: cover;
}

.container4 .banner6{
    width: 100%;
    height: 850px;
    background-image: url(../images/Captura\ de\ tela\ 2025-10-25\ 095308.png);
    background-position: center;
    background-size: cover;
    
}

.box-esq{
    width: 30%;
    height: 300px;
    background-image: url(../images/marcospegandonaboladeferro.webp);
    background-position: center;
    background-size: cover;
    float: left;
   
}

.box-dir{
    width: 70%;
    height: 300px;
    background-image: url(../images/pedro.jpg);
    background-position: center;
    background-size: cover;
    float: right;
    margin-bottom: 60px;
}

.box1{
    width: 33.33%;
    height: 350px;
    background-image: url(../images/pilates1.webp);
    background-position: center;
    background-size: cover;
    float: left;
}

.box2{
    width: 33.33%;
    height: 350px;
    background-image: url(../images/pilates2.jpg);
    background-position: center;
    background-size: cover;
    float: left;

}

.box3{
    width: 33.33%;
    height: 350px;
    background-image: url(../images/pilates3.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}




/*Pilates*/

.onteiner


/****/


.footer{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
    font-size: 1.1vw;
    color: #333;
    font-weight: 500;
}






/*  CELULARES PEQUENOS (até 480px) */
@media (max-width: 480px) {

  body {
    font-size: 5.2vw;
  }

  .logo img{
    margin: 0 auto;
    display: block;
  }

  .nav {
        flex-direction: column;     /* empilha os itens */
        justify-content: center;    /* centraliza verticalmente */
        align-items: center;        /* centraliza horizontalmente */
        padding: 10px 0;
    }

    .nav nav ul {
        flex-direction: column;     /* menu em coluna */
        align-items: center;        /* centraliza os itens da lista */
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav ul li {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;    /* centraliza cada link no li */
    }

    .nav ul li a {
        display: inline-block;
        text-align: center;         /* centraliza o texto */
        width: auto;                /* deixa o link com largura justa ao texto */
        font-size: 4vw;             /* texto maior no mobile */
        padding: 12px 20px;
        margin: 0;
        border-radius: 6px;
        transition: all 0.3s ease;
        color: #333;
        background-color: transparent;
    }

    


  p, #p1, .p0, .container2 ul li, .box > p, .form h6, .container4 p, .container4 .p2 {
    font-size: 4.5vw !important;
    line-height: 1.6em;
  }

  

  h1, h2, h3, h4, h5, h6 {
    font-size: 5.2vw;
  }

  .nav ul li a {
    font-size: 4.5vw;
  }

  .btn, .box button, .btn-cadastro {
    font-size: 4.2vw;
  }

 .container3 {
        flex-direction: column; /* coloca as boxes em coluna */
        align-items: center;    /* centraliza no eixo horizontal */
    }

    .box {
        width: 90%;            /* ocupa quase toda a largura da tela */
        margin: 15px 0;        /* espaçamento vertical */
        padding: 20px 5%;
    }

    .box h5 {
        font-size: 4.5vw;      /* texto maior para mobile */
    }

    .box > p {
        font-size: 3.8vw;
    }

    .box button {
        width: 100%;
        font-size: 4vw;
        padding: 12px 0;
    }

  .footer {
    font-size: 4.2vw;
  }
}

/*  CELULARES MÉDIOS (481px – 768px) */
@media (min-width: 481px) and (max-width: 768px) {

  body {
    font-size: 3vw;
  }

  p, #p1, .p0, .container2 ul li, .box > p, .form h6, .container4 p, .container4 .p2 {
    font-size: 4.5vw !important;
    line-height: 1.6em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 4vw;
  }

  .nav ul li a {
    font-size: 3.2vw;
  }

  .btn, .box button, .btn-cadastro {
    font-size: 3.2vw;
  }

  .container3 {
        flex-direction: column; /* coloca as boxes em coluna */
        align-items: center;    /* centraliza no eixo horizontal */
    }

    .box {
        width: 90%;            /* ocupa quase toda a largura da tela */
        margin: 15px 0;        /* espaçamento vertical */
        padding: 20px 5%;
    }

    .box h5 {
        font-size: 4.5vw;      /* texto maior para mobile */
    }

    .box > p {
        font-size: 3.8vw;
    }

    .box button {
        width: 100%;
        font-size: 4vw;
        padding: 12px 0;
    }

  .footer {
    font-size: 3.2vw;
  }
}

/*TABLETS (769px – 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

  body {
    font-size: 2vw;
  }

  p, #p1, .p0, .container2 ul li, .box > p, .form h6, .container4 p, .container4 .p2 {
    font-size: 3.2vw !important;
    line-height: 1.6em;
  }

  .nav ul li a {
    font-size: 2vw;
  }

  .container3 {
        flex-direction: column; /* coloca as boxes em coluna */
        align-items: center;    /* centraliza no eixo horizontal */
    }

    .box {
        width: 90%;            /* ocupa quase toda a largura da tela */
        margin: 15px 0;        /* espaçamento vertical */
        padding: 20px 5%;
    }

    .box h5 {
        font-size: 4.5vw;      /* texto maior para mobile */
    }

    .box > p {
        font-size: 3.8vw;
    }

    .box button {
        width: 100%;
        font-size: 4vw;
        padding: 12px 0;
    }
    

  .footer {
    font-size: 2vw;
  }
}

/*  TELAS GRANDES (1025px – 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  p, #p1, .p0, .container2 ul li, .box > p, .form h6, .container4 p, .container4 .p2 {
    font-size: 1.4vw !important;
  }
}

/*  MONITORES MAIORES (1367px ou mais) */
@media (min-width: 1367px) {
  p, #p1, .p0, .container2 ul li, .box > p, .form h6, .container4 p, .container4 .p2 {
    font-size: 1.2vw !important;
  }
}

